<!--bookers2 userinfo 部分テンプレート-->
<h2>User info</h2>
 <%= image_tag user.get_image %>
  <table class="table">
   <tbody>
    <tr>
     <th>name</th>
     <th><%= user.name %></th>
    </tr>
    <tr>
     <th>introduction</th>
     <th><%= user.introduction %></th>
    </tr>
   </tbody>
  </table>
  <div class="row">
  <%= link_to edit_user_path(user.id),class:'btn btn-sm btn-block btn-outline-secondary mb-3' do %>
    <i class="fas fa-user-cog"></i>
 <% end %>
  </div>