<!--bookers2 userinfo 部分テンプレート-->
 <div class="userinfo">
  <h1>User info</h1>
  <%= image_tag user.get_image %>
  <p>name <%= user.name %></p>
  <p>introduction <%= user.introduction %></p>
  <%= link_to "Edit",edit_user_path(user.id)%>
