<h1>User info</h1>

<%= form_with model:@user do |user|%>
 <p>Name</p>
 <%= user.text_field:name %>
 
 <p>Introduction</p>
 <%= user.text_area:introduction %><br>
 
 <%= user.submit 'Update User'%>
 
<% end %>