<!--bookers2 users index ユーザーの一覧-->
<h1>＊Users一覧画面</h1>

<%= render 'userinfo',user:@user %>

<% @users.each do |user|%>
<div>
 <%= image_tag user.get_image %>
 <p>name <%= user.name %></p>
</div>
<% end %>
